@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, contact,summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* Base text styles */

body {
	background: url(../images/back3.jpg) repeat;
    padding:10px 50px 0 0;
  	font-family: Papyrus;
	font-size: 14px;
	color: #232323;
	background-color: #FBFAF7;
	margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;

}
@font-face{
	font-family: myfont1;
	src:url(../fonts/WawaSC-Regular.otf);
}
@font-face{
	font-family: myfont2;
	src:url(../fonts/YuppySC-Regular.otf);
}
p {
  margin:0 0 18px;
  font-family:myfont2;
  font-size: 16px;
}

h2 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	font-family: Papyrus;
	font-size: 30px;
	margin:36px 0 10px;
}

h3 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	font-family: Papyrus;
	font-size: 25px;
	margin:36px 0 10px;
}

a {
  color:#000000;
  font-weight:200;
  text-decoration:none;
}

/* Wrapper */
.wrapper {
  width:1300px;
}

/* Header */

header {
	background-color: #008080;
	color: #FDFDFB;
    width:180px;
    float:left;
/*    position:fixed;*/
	border: 1px solid #008080;
	-webkit-border-top-right-radius: 14px;
	-webkit-border-bottom-right-radius: 14px;
	-moz-border-radius-topright: 14px;
	-moz-border-radius-bottomright: 14px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 34px 25px 22px 50px;
	margin: -70px 25px 0 0;
	-webkit-font-smoothing: antialiased;
}

p.header {
	font-family: Papyrus;
	font-size: 25px;
	font-weight:500;
}

h1.header {	
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
    font-family:myfont1;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.3em;
	border-bottom: none;
/*	margin-top: 0;*/
	margin:36px 0 10px;
	float:center;
}


h1.header, a.header, a.name, header a{
	color: #fff;
}

a.header {
	text-decoration: underline;
}

a.name {
	white-space: nowrap;
}

header ul {
  list-style:none;
  padding:0;
}

header li {
	list-style-type: none;
  width:132px;
  height:15px;
	margin-bottom: 12px;
	line-height: 1em;
	padding: 6px 6px 6px 7px;

	background: #AF0011;
	background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: linear-gradient(top, #AF0011 0%,#820011 100%);

	border-radius:4px;
  border:1px solid #0D0D0D;

	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);

}

header li:hover {
	background: #C3001D;
	background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: linear-gradient(top, #C3001D 0%,#950119 100%);
}

a.buttons {
	-webkit-font-smoothing: antialiased;
	background: url(../images/arrow-down.png) no-repeat;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}

a.github {
	background: url(../images/octocat-small.png) no-repeat 1px;
}

a.buttons:hover {
	color: #fff;
	text-decoration: none;
}


/* Section - for main page content */

section {
  width:650px;
  padding-top:0px;
  padding-left:350px;
  margin-top:-480px;
/*  padding-bottom:50px;*/
}
section h3 a:hover {
	color:#115858;
	text-decoration:none;
}
nav{
	margin-top:-60px;
}
nav b{
	display:block;
	padding-left:70px;
	padding-top:20px;
/*	padding-bottom:50px;*/
}
nav t{
	display:block;
	padding-left:22px;
	padding-top:0px;
	padding-bottom:5px;
    font-family:Papyrus;
	font-size: 18px;
	font-weight: 600;
}
nav t2{
	display:block;
	padding-left:20px;
    font-family:Papyrus;
	font-size: 15px;
	font-weight: 600;
}
/* Footer */

footer {
  width:170px;
  float:left;
  position:fixed;
  bottom:10px;
	padding-left: 50px;
}

aside {
	width:300px;
	margin-top:150px;
	margin-left:1050px;
/*	padding-top:100px;*/
/*	padding-left:1100px;*/
}
aside title{
	display:block;
	padding-left:10px;
	padding-bottom:20px;
    font-family:Papyrus;
	font-size: 25px;
	font-weight: 600;
}
aside contact{
	display:block;
	padding-left:10px;
	padding-bottom:20px;
    font-family:Papyrus;
	font-size: 20px;
	font-weight: normal;
}
aside a{
	padding-left:10px;
/*	padding-bottom:20px;*/
    font-family:Papyrus;
	font-size: 20px;
	font-weight: normal;
}
aside a:hover{
	color:#115858;
	text-decoration:none;
}

/*about me*/
/*body {
	background: url(../images/back3.jpg) repeat;
	color: #356618;
	font-family: Papyrus;
	font-size: 14px;
	margin: 0;
	min-width: 940px;
	padding: 0;
}*/
#header {
	margin: 0 auto;
	padding: 0;
	min-width: 940px;
	width: 960px;
}
#header div {
	color: #356618;
	margin: 0;
	overflow: hidden;
	padding: 40px 0 35px;
}
#header div .logo {
	display: block;
	float: left;
	font-family: Papyrus;
	color: #356618;
	margin: 0;
	padding: 15px 0 0 33px;
	text-decoration: none;
}
#header div .logo h1 {
	font-family:myfont2;
	font-size: 30px;
	font-weight: normal;
	color: #356618;
	margin: 0;
	padding-top: 15px;
}
#header div .logo p {
	font-family: myfont2;
	font-size: 16px;
	font-weight: 600;
	margin: 5;
	padding-top: 20px;
	text-transform: capitalize;
}
#header div span {
	display: block;
	float: right;
	margin: 0;
	padding: 0px 15px 0 0;
}
#header div span b {
	display: block;
	font-family: myfont2;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	padding-left:10px;
	margin: 0;
}
#header ul {
	background:#008080;
	border-top: 3px solid #0eacae;
	margin: 0;
	overflow: hidden;
	padding: 2px 0 0;
}
#header ul li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#header ul li a {
	color: #F8F8FF;
	display: block;
	height: 35px;
	letter-spacing: 1px;
	line-height: 35px;
	margin: 0;
	font-weight:600;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 160px;
}
#body {
	background:#FBFAF7;
	margin: 0 auto;
	overflow: hidden;
	padding: 10;
	width: 960px;
}
#body .left {
	color:#000000;
	border-right: 2px solid #afafaf;
	float: left;
	margin-top: 20px;
	min-height: 590px;
	overflow: auto;
	padding: 0;
	width: 600px;
}
/*#body .left section{
    width:650px;
    padding-top:0px;
    padding-left:350px;
    margin-top:-480px;
}*/
#body .left h2{
	padding-left: 25px;
	float: center;
	font-weight:500;
	font-size: 30px;
	margin: 20;
}
/*#body .left div {
	float: none;
	margin: 0;
	overflow: hidden;
	padding: 0 40px;
	width: auto;
}*/
/*#body .left span {
	color: #000;
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: justify;
}
#body .left b a:hover {
	color: #464646;*/
/*}
#body .left img {
	border: 1px solid #9d9d9d;
	display: block;
	float: left;
	margin: 10px 20px 0 0;
}*/
#body .left p {
	color: #464646;
	padding-left:15px;
}
#body .left p a {
	color: #464646;
	text-decoration: none;
}
#body .left p a:hover {
	color: #356618;
}

/*#body .left ul {
	list-style-type: circle;
}*/
#body .left li{
    padding-left:20px;
}